
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NanjingGeoCulture</title>

    <!-- CSS -->
    <link rel="icon" href="{% static 'images/ZifengTower.jpg' %}"> <!-- 网页图标 -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"> <!--fontawesome图标库-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> <!-- 引入Bootstrap的CSS文件 -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" /> <!-- Leaflet CSS -->
    <link href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css" rel="stylesheet"> <!-- 引入Bootstrap5的CSS文件 -->
</head>
<body>
    <!-- 导航栏 -->
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark"> <!-- bg-dark为导航栏背景颜色 -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item" style="width: 30px;">
                        <a class="nav-link" data-bs-toggle="offcanvas" href="#offcanvasMenu" role="button" aria-controls="offcanvasExample"><i class="fa fa-bars" style="font-size: 30px; color: white;"></i></a>
                    </li>
                    <li class="nav-item" style="width: 30px;"></li>
                        <a class="nav-link" href="#">
                            <img class="rounded-circle" src="{% static 'images/ZifengTower.jpg' %}" alt="图标" style="width: 30px; height: 30px;">
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#myModal" style="font-size: 20px; color: white;">NanjingGeoCulture</a>
                    </li>
                </ul>
            
                <form class="form-inline my-2 my-lg-0 mx-auto">
                    <input class="form-control mr-sm-2" type="search" placeholder="Everything about Nanjing..." aria-label="Search" style="width: 300px;">
                    <button class="btn btn-outline-success my-2 my-sm-0 mr-2" type="submit">搜索</button>
                    <button class="btn btn-outline-success my-2 my-sm-0" type="button">个性化旅游推荐</button>
                </form>
            
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size: 20px; color: white;">地图样式</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                            <a class="dropdown-item" href="#" onclick="changeMap('map1')" style="font-size: 20px; color: black; text-align: center;">OpenStreetMap</a>
                            <div class="dropdown-divider"></div> <!-- 添加分隔线 -->
                            <a class="dropdown-item" href="#" onclick="changeMap('map2')" style="font-size: 20px; color: black; text-align: center;">Earth</a>
                            <div class="dropdown-divider"></div> 
                            <a class="dropdown-item" href="#" onclick="changeMap('map3')" style="font-size: 20px; color: black; text-align: center;">WorldAntique</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" onclick="changeMap('map4')" style="font-size: 20px; color: black; text-align: center;">DarkMatter</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" onclick="changeMap('map5')" style="font-size: 20px; color: black; text-align: center;">Positron</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" onclick="addPersistentGeoJSONLayer('static/feature/region.json')" style="font-size: 20px; color: black; text-align: center;">行政区划</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size: 20px; color: white;">主题探索</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                            <a class="dropdown-item" href="#" onclick="addGeoJSONLayers('static/feature/南京文学地图.geojson')" style="font-size: 20px; color: black; text-align: center;">南京文学地图</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" onclick="addGeoJSONLayers('static/feature/寺庙.geojson')" style="font-size: 20px; color: black; text-align: center;">古今地名考</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" onclick="addGeoJSONLayers('static/feature/国立中央大学.geojson')" style="font-size: 20px; color: black; text-align: center;">国立中央大学</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" onclick="addGeoJSONLayers('static/feature/前朝旧都.geojson')" style="font-size: 20px; color: black; text-align: center;">前朝旧都</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" onclick="addGeoJSONLayers('static/feature/1937.geojson')" style="font-size: 20px; color: black; text-align: center;">1937</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" onclick="addGeoJSONLayers('static/feature/六朝余韵.geojson')" style="font-size: 20px; color: black; text-align: center;">六朝遗韵</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" onclick="addGeoJSONLayers('static/feature/.geojson')" style="font-size: 20px; color: black; text-align: center;">四百八十寺</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" onclick="addGeoJSONLayers('static/feature/大明终始.geojson')" style="font-size: 20px; color: black; text-align: center;">大明终始</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" onclick="addGeoJSONLayers('static/feature/里十三外十八.geojson')" style="font-size: 20px; color: black; text-align: center;">里十三外十八</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" onclick="addGeoJSONLayers('static/feature/SubWayPoint.geojson','static/feature/SubWayLine.geojson',function(feature, latlng) {
                                return L.circleMarker(latlng, {radius: 5,fillOpacity: 1});})" style="font-size: 20px; color: black; text-align: center;">南京地铁</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" style="font-size: 20px; color: black; text-align: center;">上局宁东段</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" style="font-size: 20px; color: black; text-align: center;">高教第三城</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" style="font-size: 20px; color: black; text-align: center;">山水城林</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" style="font-size: 20px; color: black; text-align: center;">博物馆在南京</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="offcanvas" href="#offcanvasUser" role="button" aria-controls="offcanvasExample"><i class="fa fa-user" style="font-size: 30px; color: white;"></i></a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <!-- Map Container -->
    <div id="mapid" style="height: 100vh;"></div>

    <!-- 菜单的侧边栏 -->
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasMenu" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasExampleLabel" style="font-size: 30px;">
                <img class="rounded-circle" src="{% static 'images/ZifengTower.jpg' %}" style="margin-right: 10px; width: 30px; height: 30px;">概况其他功能
            </h5>    
        </div>
        <div class="offcanvas-body">
            <div style="font-size: 18px;">
              写一下关于本系统在展示南京历史与文化的功能，高级功能
            </div>
            <div class="list-group mt-3">
                <a href="#" class="list-group-item list-group-item-action" style="font-size: 20px;">历史地图</a>
                <a href="#" class="list-group-item list-group-item-action" style="font-size: 20px;">历史事件</a>
                <a href="#" class="list-group-item list-group-item-action" style="font-size: 20px;">时间线</a>
                <a href="#" class="list-group-item list-group-item-action" style="font-size: 20px;">博客（RSS）</a>
            </div>
        </div>
    </div>

    <!-- 图标模态框 -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <h1>选择您的旅游标签</h1>
                    <form method="POST" action="">
                        {% csrf_token %}
                        <div id="tag-container">
                            <!-- 旅游标签 -->
                            <div class="travel-tag">古迹</div>
                            <div class="travel-tag">风景</div>
                            <div class="travel-tag">美食</div>
                            <div class="travel-tag">文学</div>
                            <div class="travel-tag">大学</div>
                            <div class="travel-tag">工业</div>
                            <div class="travel-tag">都市</div>
                            <div class="travel-tag">田园</div>
                            <div class="travel-tag">民俗</div>
                            <div class="travel-tag">宗教</div>
                            <div class="travel-tag">科技</div>
                            <div class="travel-tag">红色</div>
                            <div class="travel-tag">博物馆</div>
                            <div class="travel-tag">City Walk</div>
                        </div>
                        <!-- 提交按钮 -->
                        <button id="submit-btn" class="submit-btn" type="button">生成模型</button>
                    </form>
                    <!-- 进度条 -->
                    <div id="progress-container" class="progress-container">
                        <div id="progress-bar" class="progress-bar"></div>
                    </div>
                    <script>
                        // 获取标签和按钮
                        var travelTags = document.querySelectorAll('.travel-tag');
                        var submitBtn = document.getElementById('submit-btn');
                
                        // 点击标签时切换样式
                        travelTags.forEach(function(tag) {
                            tag.addEventListener('click', function() {
                                this.classList.toggle('selected');
                            });
                        });
                
                        // 悬浮效果
                        submitBtn.addEventListener('mouseover', function() {
                            travelTags.forEach(function(tag) {
                                tag.classList.add('hover-effect');
                            });
                        });
                        submitBtn.addEventListener('mouseout', function() {
                            travelTags.forEach(function(tag) {
                                tag.classList.remove('hover-effect');
                            });
                        });

                        // 进度条
                        document.getElementById('submit-btn').addEventListener('click', function() {
                            var progressContainer = document.getElementById('progress-container');
                            var progressBar = document.getElementById('progress-bar');

                            // 显示进度条容器
                            progressContainer.style.display = 'block';

                            // 开始进度条动画
                            progressBar.style.width = '0%'; // 重置进度条
                            setTimeout(function() {
                                progressBar.style.width = '100%';
                            }, 10); // 设置时间为10毫秒，以便立即触发动画

                            // 模拟加载过程（2秒后隐藏进度条）
                            setTimeout(function() {
                                // 加载完成后隐藏进度条
                                progressContainer.style.display = 'none';
                                progressBar.style.width = '0%'; // 重置进度条
                                console.log('加载完成！');
                            }, 2000); // 设置时间为2秒
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>

    <!-- 用户的侧边栏 -->
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasUser" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasExampleLabel" style="font-size: 30px;">
                <img class="rounded-circle" src="{% static 'images/ZifengTower.jpg' %}" style="margin-right: 10px; width: 30px; height: 30px;">用户信息
            </h5>    
        </div>
        <div class="offcanvas-body">  
            <div style="font-size: 18px;">
                用户设置
            </div>
            <div class="list-group mt-3">
                <a href="#" class="list-group-item list-group-item-action" style="font-size: 20px;" id="personalInfoButton">个人信息管理</a>
                <a href="#" class="list-group-item list-group-item-action" style="font-size: 20px;">账户设置</a>
                <a href="#" class="list-group-item list-group-item-action" style="font-size: 20px;">消息中心</a>
                <a href="#" class="list-group-item list-group-item-action" style="font-size: 20px;">收藏夹</a>
                <a href="#" class="list-group-item list-group-item-action" style="font-size: 20px;">用户注册</a>
                <a href="#" class="list-group-item list-group-item-action" style="font-size: 20px;">分享功能</a>
                <a href="#" class="list-group-item list-group-item-action" style="font-size: 20px;">帮助和支持</a>
            </div>
            <!-- 退出登录按钮 -->
            <button class="btn btn-outline-secondary btn-lg mt-3" id="logoutButton" style="font-size: 20px; width: 100%;">退出登录</button>
        </div>
    </div>
    <style>
        /* 点击时按钮颜色加深 */
        #logoutButton:active {
            background-color: #b3b3b3; /* 这里可以根据需要调整点击时的颜色 */
        }
    </style>
    <script>
        // 添加退出登录按钮点击事件
        document.getElementById('logoutButton').addEventListener('click', function() {
            // 这里可以添加退出登录的逻辑，比如清除用户登录状态等
            alert('您已退出登录！');
        });
    </script>

    <!-- 标签交互侧边栏 -->
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasLabel" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title text-center"><strong>中山陵</strong></h5>
            <hr> <!-- 横向分割线 -->
        </div>
        <div class="offcanvas-body">
            <img src="static\images\zsl.jpg" alt="中山陵博爱坊" style="max-width: 100%; height: auto;"> <!-- 图片 -->
            <p> 中山陵位于江苏省南京市玄武区紫金山南麓钟山风景名胜区内，是中国近代伟大的民主革命先行者孙中山先生的陵寝及其附属纪念建筑群，陵寝面积8万余平方米，于1926年春动工，至1929年夏建成。</p>
            <p>中山陵前临平川，背拥青嶂，东毗灵谷寺，西邻明孝陵，整个建筑群依山势而建，由南往北沿中轴线逐渐升高，主要建筑有博爱坊、墓道、陵门、石阶、碑亭、祭堂和墓室等，排列在一条中轴线上，体现了中国传统建筑的风格，从空中往下看，像一座平卧在绿绒毯上的“自由钟”。中山陵建筑融汇中国古代与西方建筑之精华，庄严简朴，别创新格。</p>
            <p>中山陵各建筑在型体组合、色彩运用、材料表现和细部处理上均取得极好的效果，中山陵音乐台、光华亭、流徽榭、仰止亭、藏经楼、行健亭、永丰社、永慕庐、中山书院等建筑众星捧月般环绕在陵墓周围，构成中山陵景区的主要景观，色调和谐统一更增强了庄严的气氛，既有深刻的含意，又有宏伟的气势，且均为建筑名家之杰作，有着极高的艺术价值，被誉为“中国近代建筑史上第一陵”。</p> <!-- 文本 -->
        </div>
    </div>

    <!-- 引入Bootstrap的JavaScript文件（jQuery必须在Bootstrap之前引入） -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- 引入Bootstrap5的JavaScript文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/js/bootstrap.bundle.min.js"></script>
    
    <!-- 引入Leaflet的JavaScript文件 -->
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

    <!-- 更改底图/专题/要素 -->
    <script src="{% static 'js/map_change.js' %}"></script>
    
</body>
</html>