
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NanjingGeoCulture</title>

    <!-- CSS -->
    <link rel="icon" href="{% static 'images/ZifengTower.jpg' %}"> <!-- 网页图标 -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"> <!--fontawesome图标库-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> <!-- 引入Bootstrap的CSS文件 -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" /> <!-- Leaflet CSS -->
    <link href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css" rel="stylesheet"> <!-- 引入Bootstrap5的CSS文件 -->
</head>
<body>
    <!-- 导航栏 -->
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark"> <!-- bg-dark为导航栏背景颜色 -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item" style="width: 30px;">
                        <a class="nav-link" data-bs-toggle="offcanvas" href="#offcanvasMenu" role="button" aria-controls="offcanvasExample"><i class="fa fa-bars" style="font-size: 30px; color: white;"></i></a>
                    </li>
                    <li class="nav-item" style="width: 30px;"></li>
                        <a class="nav-link" href="#">
                            <img class="rounded-circle" src="{% static 'images/ZifengTower.jpg' %}" alt="图标" style="width: 30px; height: 30px;">
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#myModal" style="font-size: 20px; color: white;">NanjingGeoCulture</a>
                    </li>
                </ul>
            
                <form class="form-inline my-2 my-lg-0 mx-auto">
                    <input class="form-control mr-sm-2" type="search" placeholder="Everything about Nanjing..." aria-label="Search" style="width: 300px;">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">搜索</button>
                </form>
            
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size: 20px; color: white;">地图样式</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                            <a class="dropdown-item" href="#" onclick="changeMap('map1')" style="font-size: 20px; color: black; text-align: center;">OpenStreetMap</a>
                            <div class="dropdown-divider"></div> <!-- 添加分隔线 -->
                            <a class="dropdown-item" href="#" onclick="changeMap('map2')" style="font-size: 20px; color: black; text-align: center;">Earth</a>
                            <div class="dropdown-divider"></div> 
                            <a class="dropdown-item" href="#" onclick="changeMap('map3')" style="font-size: 20px; color: black; text-align: center;">WorldAntique</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" onclick="changeMap('map4')" style="font-size: 20px; color: black; text-align: center;">DarkMatter</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" onclick="changeMap('map5')" style="font-size: 20px; color: black; text-align: center;">Positron</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" onclick="addGeoJSONLayer('static/feature/region.json')" style="font-size: 20px; color: black; text-align: center;">行政区划</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size: 20px; color: white;">主题探索</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                            <a class="dropdown-item" href="#" onclick="addGeoJSONLayer('static/feature/南京文学地图.geojson')" style="font-size: 20px; color: black; text-align: center;">南京文学地图</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" onclick="addGeoJSONLayer('static/feature/寺庙.geojson')" style="font-size: 20px; color: black; text-align: center;">古今地名考</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" onclick="addGeoJSONLayer('static/feature/国立中央大学.geojson')" style="font-size: 20px; color: black; text-align: center;">国立中央大学</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" onclick="addGeoJSONLayer('static/feature/前朝旧都.geojson')" style="font-size: 20px; color: black; text-align: center;">前朝旧都</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" onclick="addGeoJSONLayer('static/feature/1937.geojson')" style="font-size: 20px; color: black; text-align: center;">1937</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" onclick="addGeoJSONLayer('static/feature/六朝余韵.geojson')" style="font-size: 20px; color: black; text-align: center;">六朝遗韵</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" onclick="addGeoJSONLayer('static/feature/四百八十寺.geojson')" style="font-size: 20px; color: black; text-align: center;">四百八十寺</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" onclick="addGeoJSONLayer('static/feature/寺庙.geojson')" style="font-size: 20px; color: black; text-align: center;">大明终始</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" onclick="addGeoJSONLayer('static/feature/里十三外十八.geojson')" style="font-size: 20px; color: black; text-align: center;">里十三外十八</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" style="font-size: 20px; color: black; text-align: center;">萝铁（三期规划）</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" style="font-size: 20px; color: black; text-align: center;">上局宁东段</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" style="font-size: 20px; color: black; text-align: center;">高教第三城</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" style="font-size: 20px; color: black; text-align: center;">山水城林</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" style="font-size: 20px; color: black; text-align: center;">博物馆在南京</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="offcanvas" href="#offcanvasUser" role="button" aria-controls="offcanvasExample"><i class="fa fa-user" style="font-size: 30px; color: white;"></i></a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <!-- Map Container -->
    <div id="mapid" style="height: 100vh;"></div>

    <!-- 菜单的侧边栏 -->
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasMenu" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasExampleLabel" style="font-size: 30px;">
                <img class="rounded-circle" src="{% static 'images/ZifengTower.jpg' %}" style="margin-right: 10px; width: 30px; height: 30px;">概况其他功能
            </h5>    
        </div>
        <div class="offcanvas-body">
            <div style="font-size: 18px;">
              写一下关于本系统在展示南京历史与文化的功能，高级功能
            </div>
            <div class="list-group mt-3">
                <a href="#" class="list-group-item list-group-item-action" style="font-size: 20px;">历史地图</a>
                <a href="#" class="list-group-item list-group-item-action" style="font-size: 20px;">历史事件</a>
                <a href="#" class="list-group-item list-group-item-action" style="font-size: 20px;">时间线</a>
                <a href="#" class="list-group-item list-group-item-action" style="font-size: 20px;">博客（RSS）</a>
            </div>
        </div>
    </div>

    <!-- 图标模态框 -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <h1>Start Form</h1>
                    <form method="POST" action="">
                        {% csrf_token %}
                        <div id="tag-container">
                            <!-- 旅游标签 -->
                            <div class="travel-tag">Destination 1</div>
                            <div class="travel-tag">Destination 2</div>
                            <div class="travel-tag">Destination 3</div>
                            <div class="travel-tag">Destination 4</div>
                            <div class="travel-tag">Destination 5</div>
                            <div class="travel-tag">Destination 6</div>
                            <div class="travel-tag">Destination 7</div>
                            <div class="travel-tag">Destination 8</div>
                            <div class="travel-tag">Destination 9</div>
                            <div class="travel-tag">Destination 10</div>
                        </div>
                        <!-- 提交按钮 -->
                        <button id="submit-btn" class="submit-btn">Submit</button>
                    </form>
                    <script>
                        // 获取标签和按钮
                        var travelTags = document.querySelectorAll('.travel-tag');
                        var submitBtn = document.getElementById('submit-btn');
                
                        // 点击标签时切换样式
                        travelTags.forEach(function(tag) {
                            tag.addEventListener('click', function() {
                                this.classList.toggle('selected');
                            });
                        });
                
                        // 悬浮效果
                        submitBtn.addEventListener('mouseover', function() {
                            travelTags.forEach(function(tag) {
                                tag.classList.add('hover-effect');
                            });
                        });
                        submitBtn.addEventListener('mouseout', function() {
                            travelTags.forEach(function(tag) {
                                tag.classList.remove('hover-effect');
                            });
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>

    <!-- 用户的侧边栏 -->
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasUser" aria-labelledby="offcanvasExampleLabel">

    </div>

    <!-- 引入Bootstrap的JavaScript文件（jQuery必须在Bootstrap之前引入） -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- 引入Bootstrap5的JavaScript文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/js/bootstrap.bundle.min.js"></script>
    
    <!-- 引入Leaflet的JavaScript文件 -->
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

    <!-- 更改底图/专题/要素 -->
    <script src="{% static 'js/map_change.js' %}"></script>
    
</body>
</html>