/* ------------------------------下拉式菜单内容-------------------------------- */
.dropdown-item {
    font-size: 20px;
    color: black;
    text-align: center;
}

/* ------------------------------主页面地图样式-------------------------------- */
#map{
    height: 100%;
    width: 100%;
}

/* ------------------------------个性推荐模态框样式---------------------------- */
/* 居中标题 */
h1 {
    text-align: center;
}

.travel-tag {
    display: inline-block;
    margin: 5px;
    padding: 10px 20px;
    border: 2px solid transparent;
    border-radius: 30px; /* 增加圆角弧度 */
    background-color: transparent;
    color: black;
    cursor: pointer;
    transition: all 0.3s ease;
}

#tag-container {
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    flex-wrap: wrap; /* 如果标签过多，自动换行 */
}

.travel-tag.selected {
    background-color: lightgreen;
    border-color: green;
    color: white;
}

/* 提交按钮样式 */
.submit-btn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    border: 2px solid transparent;
    border-radius: 20px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

.submit-btn:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

/* 悬浮效果 */
.submit-btn:hover ~ .travel-tag {
    transform: translate(-10px, -10px);
    transition: all 0.3s ease;
}

/* 进度条容器样式 */
.progress-container {
    display: none;
    width: 100%;
    height: 20px;
    background-color: #f3f3f3;
    border: 2px solid black;
    border-radius: 4px;
    margin-top: 20px;
    overflow: hidden;
}

/* 进度条样式 */
.progress-bar {
    height: 100%;
    background-color: green; /* 设置填充色 */
    animation: fill 2s forwards; /* 使用动画效果填充 */
}

@keyframes fill {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

.custom-item:hover {
    background-color: #343a40; /* 深灰色 */
    color: white; /* 白色 */
}

